# Ignoruj cache Pythona
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

# Ignoruj dokumentację (oryginał i plik tymczasowy)
Dokumentacja Techniczna Bloga.docx
~$kumentacja Techniczna Bloga.docx
Dokumentacja Techniczna Bloga.pdf

# Ignoruj środowisko i konfiguracje
venv/
instance/ 

# Ignoruj cache testów
.pytest_cache/
.pytest_cache/*




